apiVersion: v1
kind: ServiceAccount
metadata:
  name: neighborly-rbac-allowed
  namespace: library-k8s
  labels:
    app.kubernetes.io/name: neighborly-library
    app.kubernetes.io/component: rbac
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: neighborly-rbac-denied
  namespace: library-k8s
  labels:
    app.kubernetes.io/name: neighborly-library
    app.kubernetes.io/component: rbac
