apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: neighborly-ingress
  namespace: neighborly
spec:
  rules:
    - host: neighborly.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 80
